.switch {
    align-self: flex-end;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 5rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.inner-switch:hover {
    background: #cfc39d;
    color: #8d4a4a;
}

.dark, .dark * {
    background-color: #cfb6a7;
    color: #ffffff;
    border-color: #5a3b3b;
}