.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
    border:1px solid whitesmoke;
    background: #B09586 ;
    color: #fff;
    bottom: 0%;
}
.row-mar{
    margin: 23vw;
    /* margin-right: 2vw; 
    margin-left: 3vw; */
    bottom: 20vw;
    left : 11vw;
    text-align: center;
}
/* For changing theme */
/* section{
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 100px;
    transition: 2s;
} */
body.dark{
     background-color : "grey";
}
#ul1{
    position : absolute;
    top : 5vw;
    right : 5vw;
    /* margin : 0; */
    margin-top: 5vw;
    margin-left: 2vw;
    padding : 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    text-align: center;
    border: 1px solid #ffb6b9;
    cursor: pointer;
    overflow: hidden;
}
#ul1.active{
    background-color:#B09586;

}
#ul1{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}
#li1{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}
#ul1.active #li1{
    transform: translateY(-30px);
}
#ul1 span{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #fff;
}
#li1 span{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #fff;
}
#ul1 span:nth-child(1){
    background: #B09586;
    color: #fff;
}
#li1 span:nth-child(1){
    background: #B09586;
    color: #fff;
}