.image-product{
    width: 200px;
    height: 200px;
    transform: translateX(35%);
}
.brand-barang{
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}
p{
    font-family: "Sanchez";
    text-align: center;
}
.nama-barang{
    font-size: 1.2em;
    text-align: center;
}
.price-barang{
    font-size:1em;
    text-align: center;
}
.foto-cewek{
    margin-top: 4em; 
    width: 65em;
    height: 30em;
}
.banner-header{
    font-family: 'Nixie One';
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
}
.banner-desc{
    font-family: 'Tenor Sans';
    text-align: center;
    font-size: 2em;
}
#header-guest-1{
    font-size: 3em;
    color: #B09586;
    font-family: 'Tenor Sans';
    text-align: center;
    border: solid #B09586 1px;
    line-height: 3em;
    padding: 0.2em 5em;
    margin: 1em;
}
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.carousel-container{
    width: 55%;
    margin: auto;
    border: 5px solid #B09586;
    overflow: hidden;
    position: relative;
}
.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}
#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


  form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 3px solid #B09586;
    float: left;
    width: 60%;
  }
  
  form.search-form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #B09586;
    color: white;
    font-size: 17px;
    border: 3px solid #B09586;
    border-left: none;
    cursor: pointer;
  }
  
  form.search-form button:hover {
    background: #B09586;
  }
  
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }
  .box-search{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    transform: translateX(10%);
}
.search-form{
    width: 70%;
}
.form-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
body{
    height: 140vh;
}