@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.body{
    font-family: 'Playfair Display', serif;
}
.switch {
    align-self: flex-end;
}
.inner-switchs {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.inner-switchs:hover{
    background: #B09586;
    color: black;
}

.dark, .dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
.tor:hover{
    background-color: white;
}


