{% extends 'base.html' %}
{% load static %}


{% block body %}


<div class="container" style="margin: 35px;">
    <h1>Barang Terbeli</h1>
    <div class="box-search" style="margin: 60px;">
        <form class="search-form" onsubmit="return caribarangterbeli();" action='#'>
            <input type="text" placeholder="Search by Products Name" id="search">
            <button type="submit" id="button-search"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="row" id="daftarbarangkebeli">
        {% for barang in barangkebeli  %}
        <div class="col-md-6">
            <img src="{{ barang.picture.url }}" alt="" class='image-product'>
        </div>
        <div class="col-md-6">
           <p class="brand-barang"> {{ barang.brand_barang }} </p>
            <p class='nama-barang'> {{ barang.nama_barang }} </p>
            <p class="price-barang"> Rp {{ barang.harga }} </p>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/deskripsi.js' %}"></script>

{% endblock %}