{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="switch" style="margin: 25px;">Switch Theme?              
    <span class="inner-switch">OFF</span>
</div>

<div class="container" style="margin-top: 60px; margin-bottom: 100px;">
    <div id="div1">
        <h1>Barang Terbeli</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ barang.picture.url }}" alt="" class='image-product'>
        </div>
        <div class="col-md-6">
            <p class="brand-barang"> {{ barang.brand_barang }} </p>
            <p class='nama-barang'> {{ barang.nama_barang }} </p>
            <p class="price-barang"> Rp {{ barang.harga }} </p>
            {% if user.is_authenticated %}
            <form action="{% url 'deskripsi:barangbeli' barang.slug  %}" enctype="multipart/form-data">   
                <button type="submit" class="btn btn-submit btn-lg mt-4 ">BUY NOW</button> 
            </form>
            {% else %}
            <div class="popup">
                <p>! you need to sign in to buy this product !</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'js/deskripsi.js' %}"></script>
{% endblock body %}