{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/buatbarang.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <link rel="stylesheet" href="{% static 'css/deskripsi.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/faqcss.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Tenor+Sans&display=swap" rel="stylesheet">
    {% block title %}


    {% endblock %}
</head>
<body style="font-family: Sanchez;">
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <a href="{% url 'barang:homepage' %}" class="navbar-brand">
            <img src="https://i.ibb.co/y0QH6Dw/Group-1.jpg" width="234px" height="52px" alt="">
        </a>
        <button class="navbar-toggler navbar-light bg-light" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item">
                    <a href="{% url 'barang:homepage' %}" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a href="#about-me" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'barang:createbarang' %}" class="nav-link">Create Barang</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'homepage:review_create' %}" class="nav-link">Review</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'subscribe:subscriber' %}" class="nav-link">Subscriber</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form action="{% url 'user:logout' %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type='submit' style="background-color: #B09586; border: #B09586;"
                            class="btn btn-danger btn-lg mr-3" name='logout-btn'>Logout</button>
                    </form>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'user:login' %}" class="nav-link">
                        <img src="https://i.ibb.co/yPYKM8Q/account-1.jpg" width="36px" height="38px" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'deskripsi:barangterbeli' %}" class="nav-link">
                        <img src="https://i.ibb.co/xFz9HJS/cart-1.jpg" width="50px" height="46px" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="{% static 'js/faq.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.j query.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static 'js/review.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    {% block body %}


    {% endblock body %}

    <footer id='contact' class="section footer-classic context-dark bg-image" style="background: #575757; padding: 2em;">
        <div class="container">
            <div class="row row-50">
                <div class="col-md-6">
                    <h5>Contacts</h5>
                    <dl class="contact-list">
                        <dt>Address:</dt>
                        <dd> University of Indonesia</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:#">keruface@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>phones:</dt>
                        <dd><a href="tel:#">+628951052</a> <span>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 col-xl-5">
                    <p>We are an dedicated website for selling trusted skincare product for your daily uses.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©</span>
                        <span class="copyright-year">2019</span><span>Keruface</span><span>. </span><span>All
                            Rights Reserved.</span></p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/deskripsi.js' %}"></script>
    <script src='{% static "js/homepage.js" %}' type="text/javascript"></script> 
    <script src="{% static 'js/create_barang.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</body>

</html>