{% extends "base.html" %}
{% load static %}

    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static 'js/faq.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/faqcss.css' %}">
    

{% block body %}

{% block title %}
<title>FAQ</title>

{% endblock %}


<body style="background-color:whitesmoke">

<div id = "div1" class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display'; ">FAQ Section</div>

<img id = "img1" style = "margin-left: 39vw" src="{% static 'img/what.png'%}" width="300">

<div class="row"></div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 row-mar">
        <div id="jQuery_accordion">
            <h3>What is KERUFACE?</h3>
                <p class="text-style">
                    Keruface is a platform that provides<br>
                    variety of skincare products, specially<br>
                    picked for any skin type and your budget</p>
            
            <h3>How do i know about what products do i need?</h3>
                <p class="text-style">
                    We will give you our best product<br>
                    recommendation. You just need to tell<br>
                    us about your skin condition by filling the<br>
                    form we provide !
                </p>
            
            <h3>Is this website reliable?</h3>
                <p class="text-style"> 
                    Ofcourse we do. Let's check out<br>
                    the review from our beloved customer
                </p>
          </div>
      </div>
    </div>

</body>


{% endblock %}
