{% extends "base.html" %}
    {% block title %}
        <title>Tell Us Your Thoughts!</title>
    {% endblock %}
{% block body %}
{% load static%}


{% if user.is_authenticated %}
<div id="div1" class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display';">Tell Us Your Thoughts!</div>
<div  style="font-family: 'Playfair Display';" class="switch ml-4">Change theme:             
    <span class="inner-switch 1">OFF</span>
</div>

<div class="box-search">
    <form class="search-form" onsubmit="return carireview();" action='#'>
        <input type="text" placeholder="Search by Products Name" id="search">
        <button type="submit" id="button-search"><i class="fa fa-search"></i></button>
    </form>
</div>
<br>

<div class="container" style="width: 900px;">
    <div class="row" id="barang">
        {% for review in reviews %}
            <div class="card mb-1 tor" style="width: 282px; margin-left: 3px; margin-right: 3px;">
                <div class="card-body">
                <h5 class="card-title">{{ review.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">testimoni</h6>
                <p class="card-text">{{ review.fill }}</p>
                </div>
            </div> 
        {% endfor %}
    </div>
</div>
    <br>
    <br>
    <br>
    <div class="h2 p-3 mb-4 text-center" style="font-family: 'Playfair Display';">Submit Your Responses!</div>
    <form class="css" action="{% url 'homepage:review_create' %}" method="post" style="font-family: 'Playfair Display'">
        {% csrf_token %}
            <div class="form-row">
                <div class="col-lg-2"></div>
                    <div class="form-group col-lg-8 tag">
                        
                        {% for fields in form %}
                            <br>
                            {{ fields.label_tag }} 
                            {{ fields }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <br>
            <div class="form-row">
            
                <input type="submit" class="btn mr-auto ml-auto" value="Submit!" style="background-color:#B09586; color: white;">
            </div>
    </form>
    <br>
    <br>
    <br>
    {% else %}
    <div id="div1" class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display';">Please login first!</div>
    {% endif %}
{% endblock %}