{% extends "base.html" %}
{% load static %}


{% block body %}

{% block title %}
<title>Keep in Touch with Us!</title>
{% endblock %}

<form class="css" action="{% url 'subscribe:subscriber_create' %}" method="post">
        <div class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display';">Keep in Touch with Us!</div>
    {% csrf_token %}
    <div class="form-row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-6">
            {% for fields in form %}
                <br>
                {{ fields.label_tag }}
                <br>
                {{ fields }}
            {% endfor %}
        </div>
        <div class="col-sm-3"></div>

    </div>
    <div class="form-row">
        <!-- <div class="col-sm-3"></div> -->
        <div class="text-center col-sm-5">
        <input type="submit" class="btn mx-auto my-auto btn-submit:hover btn-submit float-right text" value="Subscribe">
    </div>
    </form>
{% endblock %}
