{% extends "base.html" %}
{% load static %}


{% block body %}

{% block title %}
<title>Keep in Touch with Us!</title>
{% endblock %}

<div class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display'; margin-top: 30vh;">Please sign in first.</div>

{% endblock %}