{% extends "base.html" %}
{% load static %}


{% block body %}

{% block title %}
<title>Keep in Touch with Us!</title>
{% endblock %}

      <div class="display-4 p-3 mb-4 text-center" style="font-family: 'Playfair Display';">Subscriber</div>
      <div class="article">
          <a href="{% url 'subscribe:subscriber' %}"></a>
          <div class="article">
              <div class="row" id='subscriber'>
                  <!-- {% for subscriber in subscribers %}
                      <div class="col-sm-3 text-center" style= "font-family: 'Playfair Display';">
                          <h2>{{ subscriber.name }}</h2>
                      </div>
                  {% endfor %} -->
              </div>
          </div>
      </div>
          <br>
            <div class = 'form-group text-center col-md-9'>
                {% if user.is_authenticated %}
                <a href="{% url 'subscribe:subscriber_create' %}"><button type="button" class= "btn btn-secondary btn-submit btn-submit:hover btn-lg btn-sm">Subscribe Here!</button></a>
                {% else %}
                <a href="{% url 'subscribe:notAuth' %}"><button type="button" class= "btn btn-secondary btn-submit btn-submit:hover btn-lg btn-sm">Subscribe Here!</button></a>
                {% endif %}
                      
      </div>
      <div class = "container ">
        <div class = 'form-group text-center col-md-9' style="margin-left:5vw">
            <a href="{% url 'subscribe:faq' %}"><button type="button" class= "btn btn-secondary btn-submit btn-submit:hover btn-lg btn-sm">FAQ</button></a>
        </div>
  </div>
      <div class="display-3 text-center mb-4 p-1 mt-4">Find my name</div>
    <div class="box-search">
        <form class="search-form p-3" onsubmit="return cariSubscriber();" action='#'>
            <input type="text" placeholder="Find your name here!" id="search">
            <button type="submit" id="button-search"><i class="fa fa-search"></i></button>
        </form>
    </div>

  </div>
  <br>
  <br>

  
  {% endblock %}
  
