{% extends 'base.html' %}
{% load static %}

{% block title %}
<title> Log In |  Keruface </title>
{% endblock %}

{% block body %}

    <div class="container" style="transform: translateY(30%); font-family: Sanchez; margin-bottom: 20em;">
        <div class="row" style="justify-content: center; align-items: center; display: flex; flex-direction: column; ">
            <div style="padding: 8em; border: 3px solid #B09586;">
                <div class="display-3 text-center mb-4"> Log In </div>
                <form action="{% url 'user:login' %}" method="POST">
                    {% csrf_token %}
                    {% for error_message in error %}
                    <p style="font-size: 1.2em">*{{ error_message }}</p>
                    {% endfor %}
                    {% for fields in form %}
                    <div class="form-group">
                        <h5 class="text-center">{{ fields.label }}</h5>
                        {{ fields }}
                    </div>
                    {% endfor %}
                    {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <div class="row justify-content-center mt-4">
                        <input type="submit" style="background-color:#B09586; border: #B09586;" class="btn btn-success btn-lg col-5 mt-4" value='Login' name="login-btn">
                        <p class='col-7 mt-4'><a href="{% url 'user:signup' %}" style="color: black; font-size: 1.2em;"> Doesn't Have an Account? </a> </p>
                    </div>    
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
    