{% extends 'base.html' %}
{% load static %}

{% block title %}

<title> Create User |  Keruface </title>

{% endblock %}

{% block body %}

    <div class="container" style="transform: translateY(30%); font-family: Sanchez; margin-bottom: 20em;">
    <div class="row" style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
        <div style="padding: 8em; border: 3px solid #B09586;">
            <div class="display-3 mb-4 text-center">Sign Up</div>
                <form action="{% url 'user:signup' %}" method="POST">
                    {% csrf_token %}
                    {% for fields in form %}
                    <div class="form-group">
                            {% for error in fields.errors %}
                                <p style="font-size: 1.2em">*{{ error }}</p>
                            {% endfor %}
                            <h5 class="text-center">{{ fields.label }}</h5>
                            {{ fields }}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                    <input type="submit" value='Sign Up' class="btn btn-success btn-lg mt-4" style="background-color:#B09586; border: #B09586;">
                </form>
        </div>
    </div>    
    </div>    
</div>
    
{% endblock %}
    